<%- include("header") -%>
<h2>This is the about page</h2>
<p>asldkkashdladadlajdasl;djd alskdj alsd jasld jasda lskdjas dlsakdh alsdh 
    aslkdh asdj alskd asldkhasdlkhkljljlkzxclkzhxczkchzckzchzckjzxhckzxc
</p>
<%- include("footer") -%>